<div align="right" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/ExploreAI_logos/Logo blue_dark.png"  style="width:25px" align="right";/>
</div>

# Conditional calculations using IF
© ExploreAI Academy

In this notebook, we learn how to use `IF` and nested `IF` statements to replace missing data based on certain criteria.

> ⚠️ This notebook will not run on Google Colab because it cannot connect to a local database. Please make sure that this notebook is running on the same local machine as your MySQL Workbench installation and MySQL `united_nations` database.

## Learning objectives

By the end of this train, you should:
- Understand the `IF` statement and how to use it for conditional data manipulations.
- Know how to apply nested `IF` statements to address multiple conditions sequentially.

## Connecting to our MySQL database

Using our `Access_to_Basic_Services` table created in MySQL Workbench, we want to answer some questions on the range of our dataset. We can apply the same queries in MySQL Workbench and in this notebook if we connect to our MySQL server. Since we have a MySQL database, we can connect to it using mysql and pymysql.

In [1]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook. 
# If you get an error here, make sure that mysql and pymysql are installed correctly. 

%load_ext sql

In [2]:
# Establish a connection to the local database using the '%sql' magic command.
# Replace 'password' with our connection password and `db_name` with our database name. 
# If you get an error here, please make sure the database name or password is correct.

%sql mysql+pymysql://root:password@localhost:3306/db_name

Traceback (most recent call last):
  File "c:\Users\REMIGIUS\Documents\alx\school\Lib\site-packages\sqlalchemy\engine\base.py", line 145, in __init__
    self._dbapi_connection = engine.raw_connection()
                             ^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\REMIGIUS\Documents\alx\school\Lib\site-packages\sqlalchemy\engine\base.py", line 3292, in raw_connection
    return self.pool.connect()
           ^^^^^^^^^^^^^^^^^^^
  File "c:\Users\REMIGIUS\Documents\alx\school\Lib\site-packages\sqlalchemy\pool\base.py", line 452, in connect
    return _ConnectionFairy._checkout(self)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\REMIGIUS\Documents\alx\school\Lib\site-packages\sqlalchemy\pool\base.py", line 1269, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\REMIGIUS\Documents\alx\school\Lib\site-packages\sqlalchemy\pool\base.py", line 716, in checkout
    rec = pool._do_get()
          ^^^^^^^^^^^^^^
  File "c:\Users\REMIGIUS\Documents\alx\school\Lib\site-packages\sqlalchemy\pool\impl.py", line 169, in _do_get
    with util.safe_reraise():
  File "c:\Users\REMIGIUS\Documents\alx\school\Lib\site-packages\sqlalchemy\util\langhelpers.py", line 146, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "c:\Users\REMIGIUS\Documents\alx\school\Lib\site-packages\sqlalchemy\pool\impl.py", line 167, in _do_get
    return self._create_connection()
           ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\REMIGIUS\Documents\alx\school\Lib\site-packages\sqlalchemy\pool\base.py", line 393, in _create_connection
    return _ConnectionRecord(self)
           ^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\REMIGIUS\Documents\alx\school\Lib\site-packages\sqlalchemy\pool\base.py", line 678, in __init__
    self.__connect()
  File "c:\Users\REMIGIUS\Documents\alx\school\Lib\site-packages\sqlalchemy\pool\base.py", line 902, in __connect
    with util.safe_reraise():
  File "c:\Users\REMIGIUS\Documents\alx\school\Lib\site-packages\sqlalchemy\util\langhelpers.py", line 146, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "c:\Users\REMIGIUS\Documents\alx\school\Lib\site-packages\sqlalchemy\pool\base.py", line 898, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
                                         ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\REMIGIUS\Documents\alx\school\Lib\site-packages\sqlalchemy\engine\create.py", line 637, in connect
    return dialect.connect(*cargs, **cparams)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\REMIGIUS\Documents\alx\school\Lib\site-packages\sqlalchemy\engine\default.py", line 616, in connect
    return self.loaded_dbapi.connect(*cargs, **cparams)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\REMIGIUS\Documents\alx\school\Lib\site-packages\pymysql\connections.py", line 358, in __init__
    self.connect()
  File "c:\Users\REMIGIUS\Documents\alx\school\Lib\site-packages\pymysql\connections.py", line 664, in connect
    self._request_authentication()
  File "c:\Users\REMIGIUS\Documents\alx\school\Lib\site-packages\pymysql\connections.py", line 976, in _request_authentication
    auth_packet = _auth.caching_sha2_password_auth(self, auth_packet)
                  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\REMIGIUS\Documents\alx\school\Lib\site-packages\pymysql\_auth.py", line 240, in caching_sha2_password_auth
    pkt = conn._read_packet()
          ^^^^^^^^^^^^^^^^^^^
  File "c:\Users\REMIGIUS\Documents\alx\school\Lib\site-packages\pymysql\connections.py", line 772, in _read_packet
    packet.raise_for_error()
  File "c:\Users\REMIGIUS\Documents\alx\school\Lib\site-packages\pymysql\protocol.py", line 221, in raise_for_error
    err.raise_mysql_exception(self._data)
  File "c:\Users\REMIGIUS\Documents\alx\school\Lib\site-packages\pymysql\err.py", line 143, in raise_mysql_exception
    raise errorclass(errno, errval)
pymysql.err.OperationalError: (1049, "Unknown database 'db_name'")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "c:\Users\REMIGIUS\Documents\alx\school\Lib\site-packages\sql\magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\REMIGIUS\Documents\alx\school\Lib\site-packages\sql\connection.py", line 70, in set
    cls.current = existing or Connection(descriptor, connect_args, creator)
                              ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\REMIGIUS\Documents\alx\school\Lib\site-packages\sql\connection.py", line 55, in __init__
    self.internal_connection = engine.connect()
                               ^^^^^^^^^^^^^^^^
  File "c:\Users\REMIGIUS\Documents\alx\school\Lib\site-packages\sqlalchemy\engine\base.py", line 3268, in connect
    return self._connection_cls(self)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\REMIGIUS\Documents\alx\school\Lib\site-packages\sqlalchemy\engine\base.py", line 147, in __init__
    Connection._handle_dbapi_exception_noconnection(
  File "c:\Users\REMIGIUS\Documents\alx\school\Lib\site-packages\sqlalchemy\engine\base.py", line 2430, in _handle_dbapi_exception_noconnection
    raise sqlalchemy_exception.with_traceback(exc_info[2]) from e
  File "c:\Users\REMIGIUS\Documents\alx\school\Lib\site-packages\sqlalchemy\engine\base.py", line 145, in __init__
    self._dbapi_connection = engine.raw_connection()
                             ^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\REMIGIUS\Documents\alx\school\Lib\site-packages\sqlalchemy\engine\base.py", line 3292, in raw_connection
    return self.pool.connect()
           ^^^^^^^^^^^^^^^^^^^
  File "c:\Users\REMIGIUS\Documents\alx\school\Lib\site-packages\sqlalchemy\pool\base.py", line 452, in connect
    return _ConnectionFairy._checkout(self)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\REMIGIUS\Documents\alx\school\Lib\site-packages\sqlalchemy\pool\base.py", line 1269, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\REMIGIUS\Documents\alx\school\Lib\site-packages\sqlalchemy\pool\base.py", line 716, in checkout
    rec = pool._do_get()
          ^^^^^^^^^^^^^^
  File "c:\Users\REMIGIUS\Documents\alx\school\Lib\site-packages\sqlalchemy\pool\impl.py", line 169, in _do_get
    with util.safe_reraise():
  File "c:\Users\REMIGIUS\Documents\alx\school\Lib\site-packages\sqlalchemy\util\langhelpers.py", line 146, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "c:\Users\REMIGIUS\Documents\alx\school\Lib\site-packages\sqlalchemy\pool\impl.py", line 167, in _do_get
    return self._create_connection()
           ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\REMIGIUS\Documents\alx\school\Lib\site-packages\sqlalchemy\pool\base.py", line 393, in _create_connection
    return _ConnectionRecord(self)
           ^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\REMIGIUS\Documents\alx\school\Lib\site-packages\sqlalchemy\pool\base.py", line 678, in __init__
    self.__connect()
  File "c:\Users\REMIGIUS\Documents\alx\school\Lib\site-packages\sqlalchemy\pool\base.py", line 902, in __connect
    with util.safe_reraise():
  File "c:\Users\REMIGIUS\Documents\alx\school\Lib\site-packages\sqlalchemy\util\langhelpers.py", line 146, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "c:\Users\REMIGIUS\Documents\alx\school\Lib\site-packages\sqlalchemy\pool\base.py", line 898, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
                                         ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\REMIGIUS\Documents\alx\school\Lib\site-packages\sqlalchemy\engine\create.py", line 637, in connect
    return dialect.connect(*cargs, **cparams)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\REMIGIUS\Documents\alx\school\Lib\site-packages\sqlalchemy\engine\default.py", line 616, in connect
    return self.loaded_dbapi.connect(*cargs, **cparams)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\REMIGIUS\Documents\alx\school\Lib\site-packages\pymysql\connections.py", line 358, in __init__
    self.connect()
  File "c:\Users\REMIGIUS\Documents\alx\school\Lib\site-packages\pymysql\connections.py", line 664, in connect
    self._request_authentication()
  File "c:\Users\REMIGIUS\Documents\alx\school\Lib\site-packages\pymysql\connections.py", line 976, in _request_authentication
    auth_packet = _auth.caching_sha2_password_auth(self, auth_packet)
                  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\REMIGIUS\Documents\alx\school\Lib\site-packages\pymysql\_auth.py", line 240, in caching_sha2_password_auth
    pkt = conn._read_packet()
          ^^^^^^^^^^^^^^^^^^^
  File "c:\Users\REMIGIUS\Documents\alx\school\Lib\site-packages\pymysql\connections.py", line 772, in _read_packet
    packet.raise_for_error()
  File "c:\Users\REMIGIUS\Documents\alx\school\Lib\site-packages\pymysql\protocol.py", line 221, in raise_for_error
    err.raise_mysql_exception(self._data)
  File "c:\Users\REMIGIUS\Documents\alx\school\Lib\site-packages\pymysql\err.py", line 143, in raise_mysql_exception
    raise errorclass(errno, errval)
sqlalchemy.exc.OperationalError: (pymysql.err.OperationalError) (1049, "Unknown database 'db_name'")
(Background on this error at: https://sqlalche.me/e/20/e3q8)

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

## Exercise

### 1. Replace NULL values for Central and Southern Asia

Write an `IF` statement that checks whether the `Region` is `Central and Southern Asia` and whether `Pct_unemployment` is `NULL`. If both conditions are met, set the value of a new alias column called `New_pct_unemployment` to `19.59`. If the conditions are not met, use `-999` as a placeholder value in the `New_pct_unemployment` column.

In [ ]:
%%sql

### 2. Replace NULL values for Eastern and South-Eastern Asia

Now we have our first region sorted, but we have various regions to consider, so we need to add conditions for each region.
To begin, add a second condition to the solution to set the `New_pct_unemployment` for `Eastern and South-Eastern Asia` to `22.64`, using a nested `IF` statement.  If neither condition is met, it should assign a value of `-999`.

In [ ]:
# Add your code here

### 3. Replace NULL values for remaining regions

Now, let's add more conditions to assign the `New_pct_unemployment` values for the remaining regions.
We have five more regions to assign `Pct_unemployment` values for. Add five more layers to the nested `IF` statement to set the unemployment percentage for these regions as follows:
 - `Europe and Northern America` to `24.43`
 - `Latin America and the Caribbean` to `24.23`
 - `Northern Africa and Western Asia` to `17.84`
 - `Oceania` to `4.98`
 - `Sub-Saharan Africa` to `33.65`

Assign `-999` if none of the conditions are met.

In [ ]:
# Add your code here

### 4. Replace the placeholder value

Finally, replace the placeholder value of `-999` with the actual `Pct_unemployment` value for records where none of our conditions are met.

In [ ]:
# Add your code here

## Solutions

### 1. Replace NULL values for Central and Southern Asia

In [ ]:
%%sql

SELECT Region,
       Pct_unemployment,
       IF( (Region = "Central and Southern Asia") AND (Pct_unemployment IS NULL), 19.59, -999
       ) AS New_pct_unemployment
FROM united_nations.Access_to_Basic_Services
LIMIT 10; -- Remove this line to see the full result

The placeholder value of `-999` helps us keep track of what our `IF` statement has changed so we can verify that our logic is working correctly.

### 2. Replace NULL values for Eastern and South-Eastern Asia

In [ ]:
%%sql

SELECT Region,
       Pct_unemployment,
       IF( (Region = "Central and Southern Asia") AND (Pct_unemployment IS NULL), 19.59,
            IF( (Region = "Eastern and South-Eastern Asia") AND (Pct_unemployment IS NULL), 22.64, 
                 -999 
            )
       ) AS New_pct_unemployment
FROM united_nations.Access_to_Basic_Services;

### 3. Replace NULL values for remaining regions

In [ ]:
%%sql

SELECT Region,
       Pct_unemployment,
       IF( (Region = "Central and Southern Asia") AND (Pct_unemployment IS NULL), 19.59,
            IF( (Region = "Eastern and South-Eastern Asia") AND (Pct_unemployment IS NULL), 22.64, 
                 IF( (Region = "Europe and Northern America") AND (Pct_unemployment IS NULL), 24.43,
                      IF( (Region = "Latin America and the Caribbean") AND (Pct_unemployment IS NULL), 24.23,
                           IF( (Region = "Northern Africa and Western Asia") AND (Pct_unemployment IS NULL), 17.84,
                                IF( (Region = "Oceania") AND (Pct_unemployment IS NULL), 4.98,
                                     IF( (Region = "Sub-Saharan Africa") AND (Pct_unemployment IS NULL), 33.65,
                                          -999
                                         )
                                    )
                               )
                          )
                     )
                )
           )
       ) AS New_pct_unemployment
FROM united_nations.Access_to_Basic_Services;

### 4. Replace the placeholder value

In [ ]:
%%sql

SELECT Region,
       Pct_unemployment,
       IF( (Region = "Central and Southern Asia") AND (Pct_unemployment IS NULL), 19.59,
            IF( (Region = "Eastern and South-Eastern Asia") AND (Pct_unemployment IS NULL), 22.64,
                 IF( (Region = "Europe and Northern America") AND (Pct_unemployment IS NULL), 24.43,
                      IF( (Region = "Latin America and the Caribbean") AND (Pct_unemployment IS NULL), 24.23,
                           IF( (Region = "Northern Africa and Western Asia") AND (Pct_unemployment IS NULL), 17.84,
                                IF( (Region = "Oceania") AND (Pct_unemployment IS NULL), 4.98,
                                     IF( (Region = "Sub-Saharan Africa") AND (Pct_unemployment IS NULL), 33.65,
                                          Pct_unemployment
                                         )
                                    )
                               )
                          )
                     )
                )
           )
       ) AS New_pct_unemployment
FROM united_nations.Access_to_Basic_Services;

### Summary

We have identified the NULL values within the `Pct_unemployment` column and assigned estimated unemployment rates based on their respective regions.

#  
<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/ExploreAI_logos/EAI_Blue_Dark.png"  style="width:200px";/>
</div>