# Common Table Expressions (CTEs) vs. subqueries
© ExploreAI Academy

This notebook will compare and contrast Common Table Expressions (CTEs) and subqueries in SQL. We will explore their similarities, differences, use cases, and when to choose one over the other.

> ⚠️ This notebook will not run on Google Colab because it cannot connect to a local database. Please make sure that this notebook is running on the same local machine as your MySQL Workbench installation and MySQL `united_nations` database.

## Learning objectives

- Understand the differences between CTEs and subqueries.
- Learn how to optimise SQL queries using CTEs.
- Write complex SQL queries using CTEs and subqueries.

## Overview

In this notebook, we will explore Common Table Expressions (CTEs) and subqueries in SQL. These are powerful tools that can help us simplify complex queries, enhance readability, and improve the performance of our SQL operations. 

We will examine these concepts in the context of a real-world problem: *Identifying Sub-Saharan African countries with underdeveloped economies that might struggle to gain access to water.*

We will start by writing SQL queries using subqueries and then delve into the optimisation of these queries using CTEs.

### Connecting to our MySQL database

Since we have a MySQL database, we can connect to it using mysql and pymysql.

In [1]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook.

%load_ext sql

In [3]:
# Establish a connection to the local database using the '%sql' magic command.
# Replace 'password' with our connection password and `db_name` with our database name.

%sql mysql+pymysql://root:password@localhost:3306/united_nations

## Exercise

We will be working with the `united_nations.Access_to_Basic_Services` table, which contains information about different countries, their access to basic services, and their estimated GDP.

The tasks will involve writing and optimising SQL queries to identify Sub-Saharan African countries with an estimated GDP below the regional average and less than 60% access to managed drinking water services in 2020.

### Task 1: Calculate the average GDP for each region

Start by calculating the average GDP for each country’s region for 2020 using the `AVG(Est_gdp_in_billions) OVER(PARTITION BY Region)` window function.

In [10]:
%%sql
SELECT
    region,
    AVG(est_gdp_in_billions) OVER (PARTITION BY region) AS Average_GDP
FROM
    access_to_basic_services
WHERE
    time_period = 2020
LIMIT 5;

 * mysql+pymysql://root:***@localhost:3306/united_nations
5 rows affected.

[('Central and Southern Asia', Decimal('338.738182')),
 ('Central and Southern Asia', Decimal('338.738182')),
 ('Central and Southern Asia', Decimal('338.738182')),
 ('Central and Southern Asia', Decimal('338.738182')),
 ('Central and Southern Asia', Decimal('338.738182'))]

### Task 2: Filter the data

Next, let’s filter the data to focus only on the Sub-Saharan African countries with underdeveloped economies and also limited access to managed drinking water services in 2020.

In [ ]:
%%sql
SELECT
    region,
    country_name,
    Pct_managed_drinking_water_services,
    est_gdp_in_billions,
    AVG(est_gdp_in_billions) OVER(PARTITION BY region) AS Average_GDP
FROM
    access_to_basic_services
WHERE
    time_period = 2020 AND region = 'Sub-Saharan Africa' AND Pct_managed_drinking_water_services < 60
    AND est_gdp_in_billions < Average_GDP;

Note that you get an error message:

Unknown column `Avg_gdp_for_region` in `where clause`...

This is because we cannot calculate *and* reference that result in the same query.

### Task 3: Implement the solution using subqueries

We can fix the error by using a subquery to calculate the average regional GDP, and then use those results in the main query.

In [25]:
%%sql
SELECT
    region,
    country_name,
    time_period,
    Pct_managed_drinking_water_services,
    est_gdp_in_billions,
    Average_GDP
FROM
    (SELECT
    region,
    country_name,
    time_period,
    Pct_managed_drinking_water_services,
    est_gdp_in_billions,
    AVG(est_gdp_in_billions) OVER(PARTITION BY region) AS Average_GDP
FROM
    access_to_basic_services
WHERE
    time_period = 2020 ) AS Average_world_GDP
WHERE
    region = 'Sub-Saharan Africa' AND Pct_managed_drinking_water_services < 60
    AND est_gdp_in_billions < Average_GDP;

 * mysql+pymysql://root:***@localhost:3306/united_nations
6 rows affected.

[('Sub-Saharan Africa', 'Madagascar', 2020, Decimal('56.33'), Decimal('13.05'), Decimal('39.041316')),
 ('Sub-Saharan Africa', 'Somalia', 2020, Decimal('57.33'), Decimal('6.88'), Decimal('39.041316')),
 ('Sub-Saharan Africa', 'Central African Republic', 2020, Decimal('38.33'), Decimal('2.33'), Decimal('39.041316')),
 ('Sub-Saharan Africa', 'Chad', 2020, Decimal('52.67'), Decimal('10.72'), Decimal('39.041316')),
 ('Sub-Saharan Africa', 'Burkina Faso', 2020, Decimal('53.33'), Decimal('17.93'), Decimal('39.041316')),
 ('Sub-Saharan Africa', 'Niger', 2020, Decimal('57.33'), Decimal('13.74'), Decimal('39.041316'))]

### Task 4: Implement the solution using Common Table Expressions (CTEs)

Now, let's attempt the same problem using Common Table Expressions (CTEs).

In [31]:
%%sql
WITH 
    AVG_world_gdp AS (SELECT
    region,
    country_name,
    time_period,
    Pct_managed_drinking_water_services,
    est_gdp_in_billions,
    AVG(est_gdp_in_billions) OVER(PARTITION BY region) AS Average_GDP
FROM
    access_to_basic_services
WHERE
    time_period = 2020)
SELECT 
    region,
    country_name,
    time_period,
    Pct_managed_drinking_water_services,
    est_gdp_in_billions,
    Average_GDP
FROM
    AVG_world_gdp
WHERE
    region = 'Sub-Saharan Africa' AND Pct_managed_drinking_water_services < 60
    AND est_gdp_in_billions < Average_GDP;

 * mysql+pymysql://root:***@localhost:3306/united_nations
6 rows affected.

[('Sub-Saharan Africa', 'Madagascar', 2020, Decimal('56.33'), Decimal('13.05'), Decimal('39.041316')),
 ('Sub-Saharan Africa', 'Somalia', 2020, Decimal('57.33'), Decimal('6.88'), Decimal('39.041316')),
 ('Sub-Saharan Africa', 'Central African Republic', 2020, Decimal('38.33'), Decimal('2.33'), Decimal('39.041316')),
 ('Sub-Saharan Africa', 'Chad', 2020, Decimal('52.67'), Decimal('10.72'), Decimal('39.041316')),
 ('Sub-Saharan Africa', 'Burkina Faso', 2020, Decimal('53.33'), Decimal('17.93'), Decimal('39.041316')),
 ('Sub-Saharan Africa', 'Niger', 2020, Decimal('57.33'), Decimal('13.74'), Decimal('39.041316'))]

## Solutions

### Task 1: Calculate the average GDP for each region

In [ ]:
%%sql
SELECT 
    Region,
    Country_name,
    Pct_managed_drinking_water_services,
    Pct_managed_sanitation_services,
    Est_gdp_in_billions,
    AVG(Est_gdp_in_billions) OVER(PARTITION BY Region) AS Avg_gdp_for_region
FROM united_nations.Access_to_Basic_Services
WHERE Time_period = 2020;

### Task 2: Filter the data

In [ ]:
%%sql
SELECT 
    Region,
    Country_name,
    Pct_managed_drinking_water_services,
    Pct_managed_sanitation_services,
    Est_gdp_in_billions,
    AVG(Est_gdp_in_billions) OVER(PARTITION BY Region) AS Avg_gdp_for_region
FROM 
    united_nations.Access_to_Basic_Services
WHERE 
    Region = 'Sub-Saharan Africa' 
    AND Time_period = 2020 
    AND Pct_managed_drinking_water_services < 60
    AND Est_gdp_in_billions < Avg_gdp_for_region;

### Task 3: Implement the solution using subqueries

In [21]:
%%sql
SELECT 
    Country_name,
    Region,
    Pct_managed_drinking_water_services,
    Pct_managed_sanitation_services,
    Est_gdp_in_billions,
    Avg_gdp_for_region
FROM (
    SELECT 
        Region,
        Country_name,
        Pct_managed_drinking_water_services,
        Pct_managed_sanitation_services,
        Est_gdp_in_billions,
        AVG(Est_gdp_in_billions) OVER(PARTITION BY Region) AS Avg_gdp_for_region
    FROM
        united_nations.Access_to_Basic_Services
    WHERE 
        Time_period = 2020
    ) AS Avg_world_GDP_2020
WHERE 
    Region = 'Sub-Saharan Africa' 
    AND Pct_managed_drinking_water_services < 60 
    AND Est_gdp_in_billions < Avg_gdp_for_region;

 * mysql+pymysql://root:***@localhost:3306/united_nations
6 rows affected.

[('Madagascar', 'Sub-Saharan Africa', Decimal('56.33'), Decimal('13.00'), Decimal('13.05'), Decimal('39.041316')),
 ('Somalia', 'Sub-Saharan Africa', Decimal('57.33'), Decimal('40.00'), Decimal('6.88'), Decimal('39.041316')),
 ('Central African Republic', 'Sub-Saharan Africa', Decimal('38.33'), Decimal('15.00'), Decimal('2.33'), Decimal('39.041316')),
 ('Chad', 'Sub-Saharan Africa', Decimal('52.67'), Decimal('18.67'), Decimal('10.72'), Decimal('39.041316')),
 ('Burkina Faso', 'Sub-Saharan Africa', Decimal('53.33'), Decimal('25.00'), Decimal('17.93'), Decimal('39.041316')),
 ('Niger', 'Sub-Saharan Africa', Decimal('57.33'), Decimal('24.67'), Decimal('13.74'), Decimal('39.041316'))]

### Task 4: Implement the solution using Common Table Expressions (CTEs)

In [30]:
%%sql
-- This CTE calculates the average regional GDP for each country, for the year 2020. 
WITH Avg_world_GDP_2020 AS (
    SELECT 
        Region,
        Country_name,
        Pct_managed_drinking_water_services,
        Pct_managed_sanitation_services,
        Est_gdp_in_billions,
        AVG(Est_gdp_in_billions) OVER(PARTITION BY Region) AS Avg_gdp_for_region
    FROM 
        united_nations.Access_to_Basic_Services
    WHERE 
        Time_period = 2020
)

/* 
This query filters the Avg_world_GDP_2020 CTE for 
countries that have below-average GDP, in the 
Sub-Saharan Africa region, and struggling with water access.
*/

SELECT 
    Country_name
FROM 
    Avg_world_GDP_2020
WHERE 
    Region = 'Sub-Saharan Africa' 
    AND Pct_managed_drinking_water_services < 60 
    AND Est_gdp_in_billions < Avg_gdp_for_region;

 * mysql+pymysql://root:***@localhost:3306/united_nations
6 rows affected.

[('Madagascar',),
 ('Somalia',),
 ('Central African Republic',),
 ('Chad',),
 ('Burkina Faso',),
 ('Niger',)]

Note how much easier the CTE is to read compared to the query using a subquery.

## Summary

In our exercises, we have seen how subqueries and Common Table Expressions (CTEs) can be used to break down complex queries into manageable parts. This not only enhances readability but also improves performance by enabling the database to process the query more efficiently.

For instance, when identifying Sub-Saharan African countries with underdeveloped economies struggling to access drinking water services, we first used subqueries to combine conditions and evaluate the GDP criteria before assessing water access. We then applied the concept of Common Table Expressions as another optimised alternative, which allowed us to calculate the regional average GDP separately. This created a reusable block of code that could be referenced in the final query.

By comparing the two implementations, we saw how CTEs could simplify complex queries and eliminate the need for saving intermediary tables and taking up more space in the database or using multiple subqueries.

The use of CTEs and subqueries empowers us to optimise SQL queries effectively, making our data analysis more efficient and organised.

Remember, the choice between subqueries and CTEs often depends on the specific requirements of your task and the complexity of your SQL queries. It's always a good idea to test different implementations and choose the one that best meets your needs.

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/ExploreAI_logos/EAI_Blue_Dark.png"  style="width:200px";/>
</div>