<div align="right" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/ExploreAI_logos/Logo blue_dark.png"  style="width:25px" align="right";/>
</div>

# Subquery in FROM 
© ExploreAI Academy

> ⚠️ This notebook will not run on Google Colab because it cannot connect to a local database. Please make sure that this notebook is running on the same local machine as your MySQL Workbench installation and MySQL `united_nations` database.

## Description

In this lesson we will use a subquery like a temporary table, meaning we will do a calculation, and then reference the result of that calculation in another query.

## Learning objectives

In this train we will learn:
- How to create a query using the FROM clause.

## Connecting to our MySQL database

Using our `Access_to_Basic_Services` table in our `united_nations` database we created in MySQL Workbench, we want to answer some questions about our dataset. We can apply the same queries we used in MySQL Workbench in this notebook if we connect to our MySQL server by running the cells below.

Note that before, for this tutorial, we will already have worked through the lessons where the `united_nations.Basic_Services` table, `united_nations.Economic_Indicators` table, and the `united_nations.Geographic_Locations` table have been created.

In [1]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook. 
# If you get an error here, make sure that mysql and pymysql are installed correctly. 

%load_ext sql

In [2]:
# Establish a connection to the local database using the '%sql' magic command.
# Replace 'password' with our connection password and `db_name` with our database name. 
# If you get an error here, please make sure the database name or password is correct.

%sql mysql+pymysql://root:password@localhost:3306/united_nations


To make a query, we add the `%%sql` command to the start of a cell, create one open line then the query like below, and run the cell.

In [3]:
%%sql

SELECT 
    *
FROM
    Access_to_Basic_Services
LIMIT 5;

 * mysql+pymysql://root:***@localhost:3306/united_nations
5 rows affected.

[('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2015, Decimal('94.67'), Decimal('98.00'), Decimal('17.542806'), Decimal('184.39'), Decimal('2699700.00'), Decimal('4.93')),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2016, Decimal('94.67'), Decimal('98.00'), Decimal('17.794055'), Decimal('137.28'), Decimal('2699700.00'), Decimal('4.96')),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2017, Decimal('95.00'), Decimal('98.00'), Decimal('18.037776'), Decimal('166.81'), Decimal('2699700.00'), Decimal('4.90')),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2018, Decimal('95.00'), Decimal('98.00'), Decimal('18.276452'), Decimal('179.34'), Decimal('2699700.00'), Decimal('4.85')),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2019, Decimal('95.00'), Decimal('98.00'), Decimal('18.513673'), Decimal('181.67'), Decimal('2699700.00'), Decimal('4.80'))]

## Exercise

In this exercise. We will use a subquery to answer the following question: What is the average GDP and population for countries with unemployment rates above 5%?

### Creating the subquery
Construct the subquery that displays the average GDP and average population of countries for 2020. The query should have the following columns: `Country_name`, `Avg_GDP`, `Avg_Population`.

In [12]:
%%sql
SELECT 
    country_name, 
    AVG(est_gdp_in_billions) AS Average_GDP,
    AVG(est_population_in_millions) AS Average_population
FROM 
    united_nations.economic_indicators
GROUP BY
    Country_name
LIMIT 5;

 * mysql+pymysql://root:***@localhost:3306/united_nations
5 rows affected.

[('Afghanistan', Decimal('19.063333'), Decimal('36.2436061667')),
 ('Algeria', Decimal('164.633333'), Decimal('41.5171783333')),
 ('American Samoa', Decimal('0.660000'), Decimal('0.0488688333')),
 ('Angola', Decimal('67.791667'), Decimal('30.7577836667')),
 ('Anguilla', None, None)]

### Creating the main query
Construct a query that filters out countries with unemployment rates above 5%. The query should include the following columns: `Country_name`, `Est_gdp_in_billions`,  `Est_population_in_millions`.

In [13]:
%%sql
SELECT 
    country_name, 
    est_gdp_in_billions,
    est_population_in_millions
FROM 
    united_nations.economic_indicators
WHERE
    Pct_unemployment > 5 AND time_period = 2020
LIMIT 5;

 * mysql+pymysql://root:***@localhost:3306/united_nations
5 rows affected.

[('Afghanistan', Decimal('20.14'), Decimal('38.972230')),
 ('Argentina', Decimal('385.54'), Decimal('45.376763')),
 ('Armenia', Decimal('12.64'), Decimal('2.805608')),
 ('Australia', Decimal('1326.90'), Decimal('25.655289')),
 ('Azerbaijan', Decimal('42.69'), Decimal('10.093121'))]

### Combining the queries

Using the query and the subquery, determine the average GDP and population for countries with unemployment rates above 5%. Group the results by `Country_name`.

In [15]:
%%sql
SELECT 
    country_name, 
    AVG(est_gdp_in_billions) AS Average_GDP,
    AVG(est_population_in_millions) AS Average_population
FROM 
    (SELECT 
    country_name, 
    est_gdp_in_billions,
    est_population_in_millions
FROM 
    united_nations.economic_indicators
WHERE
    Pct_unemployment > 5 AND time_period = 2020) AS f
GROUP BY
    Country_name
LIMIT 5;

 * mysql+pymysql://root:***@localhost:3306/united_nations
5 rows affected.

[('Afghanistan', Decimal('20.140000'), Decimal('38.9722300000')),
 ('Argentina', Decimal('385.540000'), Decimal('45.3767630000')),
 ('Armenia', Decimal('12.640000'), Decimal('2.8056080000')),
 ('Australia', Decimal('1326.900000'), Decimal('25.6552890000')),
 ('Azerbaijan', Decimal('42.690000'), Decimal('10.0931210000'))]

## Solutions

### Creating the subquery

In [ ]:
%%sql

SELECT 
    Country_name,
    Est_gdp_in_billions,
    Est_population_in_millions
FROM
    Economic_Indicators
WHERE
    Pct_unemployment > 5
    AND Time_period = 2020;

This table simply filters the `Economic_Indicators` table to only display countries with unemployment > 5. This is the input table the main query will use.

### Creating the main query

In [ ]:
%%sql

SELECT 
    Country_name,
    AVG(Est_gdp_in_billions) AS Avg_GDP,
    AVG(Est_population_in_millions) AS Avg_Population
FROM
    Economic_Indicators
GROUP BY
    Country_name;

Note that this query calculates the averages for **all** years, and for **all** countries.

### Combining the queries

In [ ]:
%%sql

SELECT 
    Country_name,
    AVG(Est_gdp_in_billions) AS Avg_GDP,
    AVG(Est_population_in_millions) AS Avg_Population
FROM
    (SELECT 
        Country_name,
        Est_gdp_in_billions,
        Est_population_in_millions
    FROM
        Economic_Indicators
    WHERE
        Pct_unemployment > 5
        AND Time_period = 2020) AS FilteredCountries
GROUP BY
    Country_name;

Using the subquery filters the data first into a derived table, which the main query uses to aggregate with.

## Summary

In this lesson, we used a subquery to determine the average GDP and populations of countries where the unemployment rate is above 5%. We made use of the `FROM` clause. In essence, the subquery in the `FROM` clause can be thought of as creating an intermediate or derived table for the main query to operate upon, even if this table exists only for the duration of the query execution.

#  

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/ExploreAI_logos/EAI_Blue_Dark.png"  style="width:200px";/>
</div>